<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gs.mapper.RoleMapper">
    <select id="queryListById" resultType="role">
        select * from sys_role left join user_role_map on sys_role.id=user_role_map.role_id where user_role_map.user_id=#{id}
    </select>
</mapper>